function FindProxyForURL(url, host) {
  if (
    dnsDomainIs(host, ".bt")
  ) {
    // Safari doesn't support HTTPS proxies. If the btlink root domain matched an actual gateway we
    // could append DIRECT here.
    return "HTTPS {{.HttpsProxy }}; PROXY {{ .HttpProxy }}";
  } else {
    return "DIRECT";
  }
}
