{{ define "google-analytics" -}}
    {{ safeHTML "<!-- This is here during btlink development, and either won't be included in the final product, or would be bundled more appropriately in a dns-linked SPA served at the root domain. -->" -}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ECHVE14X7L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ECHVE14X7L');
    </script>
{{- end }}
{{ define "common-head" -}}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ template "google-analytics" }}
{{ end }}
<html>
<head>
    <title>btlink root gateway domain</title>
    {{ template "common-head" }}
</head>
<body>
{{ with .JustUploaded }}
    <h3>Upload result</h3>
    <ul>
        <li><code>{{ .Infohash }}</code></li>
        <li><a href="{{ .GatewayUrl }}">View on this gateway</a></li>
        <li><a href="{{ .Magnet }}">Magnet link</a></li>
    </ul>
    {{ if .Debug -}}
        <pre>{{ .Debug }}</pre>
    {{ end }}
{{ end }}
<h3>Uploader</h3>
<form method="post" enctype="multipart/form-data">
    <label for="file-chooser">Choose specific files</label>
    <input type="file" multiple name="files" id="file-chooser">
    <br>
    <label for="directory-chooser">and/or a directory</label>
    <input type="file" multiple directory webkitdirectory name="files" id="directory-chooser">
    <label for="strip-top-directory">Strip top directory</label>
    <input type="checkbox" name="strip-top-directory" id="strip-top-directory">
    <br>
    <label for="name">
        Torrent name
    </label>
    <input type="text" id="name" name="name" value="btlink upload">
    <br>
    <input type="submit" value="Create torrent">
</form>
</body>
</html>
