{{ define "google-analytics" -}}
    {{ safeHTML "<!-- This is here during btlink development, and either won't be included in the final product, or would be bundled more appropriately in a dns-linked SPA served at the root domain. -->" -}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ECHVE14X7L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ECHVE14X7L');
    </script>
{{- end }}
<html>
<head>
    <title>btlink root gateway domain</title>
    {{ template "google-analytics" }}
</head>
<form method="post" enctype="multipart/form-data">
    <input type="file" multiple name="files">
    <!--
    <input type="file" multiple directory webkitdirectory name="files">
    -->
    <input type="submit" value="Create torrent">
</form>
</html>
